# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
env/
venv/
.env
*.egg-info/
dist/
build/

# IDEs / OS
.vscode/
.idea/
*.swp
Thumbs.db
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive
.env.local
secrets/
