# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
env/
venv/
.env
*.egg-info/
dist/
build/

# IDEs / OS
.vscode/
.idea/
*.swp
Thumbs.db
.DS_Store

# Terraform (excluir toda la carpeta)
terraform/

# Sensitive
.env.local
secrets/
